
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* global text alingment, font and style, except overrited*/

body {
    font-family: IBM, Plex, Mono;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}


/* text aligment and padding for this areas   */
.summary, .preamble, [class="main supporting"] {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    
}

/* top of the page*/

header {
    background: url(/img/huntington.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}


header[role="banner"] h1 {
    display: inline;   
    position: absolute;
    top: 4%;
    left: 34%;
    font-size: 50px;
    font-weight: 580;
    color: white;
    text-align: center;
    text-shadow: 4px 6px 5px black;
    font-family: Roboto;

}


header[role="banner"] h2 {
    padding-left: 70px;
    display: inline;
    position: absolute; 
    top : 17%; 
    left : 600px; 
    color : rgb(255, 255, 255); 
    text-align : center; 
    font-size : 20px; 
    font-weight: 400;
    font-style: italic;
    font-family : Satisfy;
    background: url(/img/zen.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    
}



/* middle of the page  */

.participation , .benefits {
    background: url(/img/bamboo.png) rgb(116, 170, 61);
    width: 100%;
    color: white;
    border: 1px solid transparent;

    
}

.participation h3,a ,.benefits, h3{ 
    color: black;
        
}

.participation, .benefits { 
    color: white;

}


[role="contentinfo"]  {
    display: block;
    position: relative;
    width: 1560px;
    background-color: rgb(116, 170, 61);;
    padding: 3%;
    right:5.6%;
    margin-top: 2.5%;
    
}

[role="contentinfo"] a {
    padding-top: 3%;
    font-family: Satisfy;
    font-size: 50px;
    color: white;
    font-size-adjust: unset;
    text-decoration: none;
    font-weight: lighter;
    
}

[role="contentinfo"] {
    color: rgb(184, 184, 184);
    font-weight: bold;
    text-align: center;
}


.page-wrapper {
    border: 2px solid gray;
}

.requirements h3 {
    margin-top: 3%;
}

.requirements {
    padding-bottom: 2%;
}



.select, .archives, .resources  {
    color: transparent
}

footer {
    background-color: rgb(29, 71, 29);
    display: block;
    position: relative;
    width: 1560px;
    padding: 3%;
    right: 5.6%;
}



footer i.fab.fa-github  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 60%; 
    color: white;
}

i.fab.fa-accessible-icon  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 55%; 
    color: white;
}   

i.fab.fa-creative-commons  {
    display: block;
    position: absolute;
    font-size: 40px;
    border: 20px; 
    top: 25%;
    left: 50%; 
    color: white;
}

i.fab.fa-css3  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 45%; 
    color: white;;
}

i.fab.fa-html5  {
    
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 40%; 
    color: white;
}






#design-archives {
    position: relative;
    border: 22px solid red;   
    margin-top: 150px;
}

.archives {
    border: 10px dotted blue
}

#design-selection {
    border: 14px solid red;
    display: block;
    height: 400px;
    width: 1620px;
    padding-bottom: 0px;
    padding-top: 0;
        
}


#design-selection ul {
    height: 400px;
    border: 5px dotted blue;
    margin-top: -50px;
    margin-bottom: -4px;;
}





/* LIST AFTER ICONS BELLOW */


#design-selection li:first-child {
    border:  5px solid;
    text-align: center;
    width: 750px;
    position: relative;
    top: -25px;
    margin-top: 20px;
    padding: 25px;
    left: -45px

}

#design-selection li:nth-child(2){
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -100px;
    
}

#design-selection li:nth-child(3) {
    border:  5px solid;
    text-align: center;
    width: 750px;
    position: relative;
    top: -29px;
    margin-top: 0px;
    padding: 25px;
    left: -45px
}

#design-selection li:nth-child(4){
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -105px;
}


#design-selection li:nth-child(5) {
    border:  5px solid;
    text-align: center;
    width: 750px;
    position: relative;
    top: -54px;
    margin-top: 20px;
    padding: 25px;
    left: -45px
}


#design-selection li:nth-child(6){
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -127px;
}


#design-selection li:nth-child(7) {
    border:  5px solid;
    text-align: center;
    width: 750px;
    position: relative;
    top: -79px;
    margin-top: 20px;
    padding: 25px;
    left: -45px
}


#design-selection li:nth-child(8){
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -154px;
}

/* ----------------------------------------------------*/









.next a {
    position: relative;
    display: inline;
    color: red;
    font-size: 2rem;
    border: 10px dotted orange;


}

.viewall a {
    position: relative;
    color: blue;
    font-size: 2rem;
    display: inline;
    border: 15px dotted aqua;
}





.next  {
    border: 12px solid purple;
        
}

.viewall {
    border: 10px dotted brown;
}


li {
    text-align: center;
    border: 5px solid green;   
    list-style: none;
    padding: 20px;
    margin-right: 50px;
}


.indicator {
    color: blue;
}



/*---------------------------------------------*/





ul {
    border: 10px solid green;
}

#zen-resources {
    border: 5px solid blue;
    margin-bottom: -30;
    
}



h3.resources {
    border: 3px solid blue
}












.view-css {
    border: 5px dotted red;
}

.css-resources {
    border: 5px dotted red;
}

.zen-faq {
    border: 5px dotted red;
}

.zen-submit {
    border: 5px dotted red;
}

.zen-translations {
    border: 5px dotted red;
}









/* BOTTOM OF PAGE */

/* PROBLEMS
1. cant get the top text centered
2. who to set colour in between divs 'participation
and benefits
3. give margin last p in ' about ' and ' participation '
4.extend green background in 'participation and beneit'
*/