<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <body>
        {{#if name}}
        {{!-- POST --}}
        <h1>Welcome {{name}}</h1>
        <h3>Email: {{email}}</h3>
        {{else}}
        {{!-- GET --}}
        <h1>Welcome to the display Results</h1>
        {{/if}}
    </body>

</body>

</html>