<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


    <h1>Inside index.hbs</h1>

    <h1>Classic Models</h1>

    <ul>
        {{!-- each is like a loop --}}
        {{#each users}}
        {{!-- targeting info from the classic models database --}}
        <li>{{this.first_name}} {{this.age}} {{this.city}}</li>

        {{/each}}

    </ul>




</body>

</html>