<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


    <h1>Inside index.hbs</h1>

    <h1>Employees</h1>

    <ul>
        {{#each employee}}
        <li>{{this.first_name}}</li>
        {{#each}}
    </ul>




</body>

</html>