<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>

<body>
    <h2>from update.hbs</h2>

    {{!-action means that it will be executed every time the user lands on " that page " -  --}}
    {{!-- the user to update here is hard coded by the number 1  --}}
    <form action="/update/" method="POST">

        <input type="text" name="user_name" />
        <button type="submit">Update User</button>

    </form>

    {{message}}

</body>

</html>