/*padding push away content or element / incresses the size or element
    then border and then margin push the hole content away from other things
*/

body {
    padding: 0;
    margin: 0;
    display: inline;
    background-color: #F3DFCD;
}



ul {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    position: fixed;
    top: 0;
}

li {
    float: left;  
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    margin: 0;
    background-color:#F1AA7D;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.active {
    background-color:#EB6D80;
}

.active:hover {
    color: black;
}

#WIP {
    display: inline;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    line-height: 100px;
    position: fixed;
    text-align: center;
    left: 12%;
    top: 10%;
    opacity: 3.5%;

}

.navBackground {
    background-image: url(/images/code.jpg);

}