/*padding push away content or element / incresses the size or element
    then border and then margin push the hole content away from other things
*/

body {
    display: inline;
}

html { 
    
    background: url(/images/alreadyInMotion.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


ul {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    position: fixed;
    top: 0;
}

li {
    float: left;  
}

li a {
    width: auto;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    margin: 0;
    background-color:#F1AA7D;
    padding: 12px 12px 12px 12px;
    width: auto;
    text-align: center;
    color: black;
    font-weight: bolder;
    
}

.active {
    width: auto;
    background-color:#EB6D80;
}

.active:hover {
    width: auto;
    color: black;
}

#WIP {
    display: inline;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    line-height: 100px;
    position: fixed;
    text-align: center;
    left: 12%;
    top: 10%;
    opacity: 10%;

}

.navBackground {
    background-image: url(/images/code.jpg);

}